.root{
  -fx-background-color: #2222FF;
  -fx-text-fill: #FFFFFF;
}

.label{
  -fx-text-fill: #FFFFFF;
}

.button{
  -fx-border-color: #000000;
  -fx-background-color: #FFFFFF;
  -fx-text-fill: #000000
}

HBox{
  -fx-spacing: 10;
}

VBox{
  -fx-spacing: 5;
}